﻿@{
    ViewBag.Title ="Strona główna";
}

@section scripts {
    @Scripts.Render(Url.Content("~/Scripts/bjqs-1.3.min.js"))
}

<!-- START koci slider jQuery -->
<pre style="display:none;"><script>
    jQuery(document).ready(function ($) {

        $('#banner-slide').bjqs({
            animtype: 'slide',
            height: 500,
            width: 1140,
            responsive: true,
            randomstart: true,
            animduration: 450, // 450ms dlugosc przejscia
            animspeed: 4000, // szybkosc animacji w milisekundach
            automatic: true, // automat
            showcontrols: true, // pokaz przyciski lewo, prawo
            centercontrols: true, // przyciski na srodku wzgledem wysokosci
            nexttext: ' >> ', // przycisk tekstowy nastepny
            prevtext: ' << ', // przycisk tekstowy poprzedni
            showmarkers: false, // pokaz znaczniki
            centermarkers: true, // wycentrowanie znacznikow
            keyboardnav: true, // nawigacja strzalkami
            hoverpause: true, // pauza po najechaniu kursorem
            usecaptions: false, // pokaz opisy 'title' dla obrazków
            randomstart: true, // losowy start
        });

    });
</script></pre>

<div id="banner-slide">
    <ul class="bjqs">
        <li><img src=@Url.Content("~/Content/1_kot_01.jpeg") alt=""></li>
        <li><img src=@Url.Content("~/Content/2_kot_02.jpeg") alt=""></li>
        <li><img src=@Url.Content("~/Content/3_kot_03.jpeg") alt=""></li>
        <li><img src=@Url.Content("~/Content/4_kot_04.jpeg") alt=""></li>
        <li><img src=@Url.Content("~/Content/5_kot_05.jpeg") alt=""></li>
    </ul>
</div>
<!-- KONIEC koci slider jQuery -->

<div class="jumbotron">
    <h1>Hotel "Koci Raj"</h1>
    <p class="lead">Hotel "Koci Raj" to efekt naszej pasji i miłości do kotów. Oferujemy najwyższe kocie standardy. Hotel usytuowany jest na prywatnej posesji w otoczeniu zieleni i z dala od ruchliwych ulic.</p>
    <p class="lead">Jeżeli wyjeżdżasz, nawet na parę dni i nie masz z kim zostawić swoje kochanego zwierzaka – skorzystaj z naszych usług. Pomimo rozłąki Twój kociak otrzyma wspaniałe wakacje w komfortowych warunkach. Pobyt w naszym hotelu to brak stresu dla Ciebie oraz co najważniejsze dla Twojego kota. Pod Twoją nieobecność sprawimy aby Twój pupil zawsze miał stałą fachową opiekę oraz zapewnione ciekawe zajęcia. Każdy kot przebywa w naszym hotelu w indywidualnych apartamentach, a pobyt Twojego pupila śmiało możemy porównać do pobytu w 5 gwiazdkowym hotelu.</p>
    <p><a href="/Home/Oferta" class="btn btn-primary btn-lg">Oferta Hotelu "Koci Raj" &raquo;</a></p>
</div>


<!--<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>-->