﻿@{
    ViewBag.Title = "Logowanie";
}
<h2>@ViewBag.Title.</h2>
<p></p>
<p></p>

<!-- START skrypt pokaz/ukryj elementy na stronie*/ -->
<script type="text/javascript" language="JavaScript">
    function HideContent(d) {
        if (d.length < 1)
            return;
        document.getElementById(d).style.display = "none";
    }
    function ShowContent(d) {
        if (d.length < 1)
            return;
        document.getElementById(d).style.display = "block";
    }
</script>
<!-- END skrypt pokaz/ukryj elementy na stronie -->

<h3>Zaloguj się</h3>
<form class="form">
    <div class="row">
        <div class="col-1-2">
            <label for="LogEmail">Twój login/e-mail*:</label>
            <input id="LogEmail" value="" type="text">
        </div>
        <div class="col-1-2">
            <label for="LogPass">Twoje hasło*:</label>
            <input id="LogPass" value="" type="text">
        </div>

        <div class="col-1-1">
            <button type="Submit" style="width:100%;height:40px;background-color:#526788;border:none;color:white">Zaloguj się</button>
        </div>
    </div>
        <div class="col-1-1">
            <a href="#" onclick="JavaScript:ShowContent('textBlock');JavaScript: HideContent('textBlock2');"><label style="text-decoration:underline;font-weight:normal"><span class="icon icon-speech-bubble-2"></span> Nie możesz się zalogować?</label></a>
        </div>
        <div id="textBlock" style="display:none;">
            <div class="col-1-1">
                <a href="#" onclick="JavaScript:HideContent('textBlock');">Ukryj opcję odzyskiwania hasła</a>
            </div>
            <div class="col-1-1" style="padding:20px 0 15px 0;width:50%">
                <label for="ResetPass">Twój e-mail*:</label>
                <input id="ResetPass" value="" type="text">
            </div>
            <div class="col-1-1" style="padding-bottom:10px">
                <button type="Submit" style="width:45%;height:35px;background-color:#428bca;border:none;color:white">Odzyskaj hasło</button>
            </div>
            <div class="col-1-1">
                W ciągu kilku minut na podany przez Ciebie adres e-mail przyjdzie wiadomość zawierająca Twoje nowe hasło.
            </div>
        </div>
 </form>

<h3>Jesteś nowym użytkownikiem?</h3>
<form class="form">
    <div class="row">
        <div class="col-1-1">
            <div style="width:100%;height:35px;background-color:#428bca;border:none;color:white;text-align:center;padding-top: 10px;padding-bottom: 30px;cursor:pointer" onclick="JavaScript: ShowContent('textBlock2');JavaScript: HideContent('textBlock');">Załóż nowe konto</div>
        </div>
    </div>
    <div id="textBlock2" style="display:none;">
        <div class="col-1-1">
            <a href="#" onclick="JavaScript:HideContent('textBlock2');">Ukryj opcję założenia konta</a>
        </div>
        <div class="row" style="padding:20px 0 0 0;">
            <div class="col-1-2">
                <label for="NewLogin">Twój login*:</label>
                <input id="NewLogin" value="" type="text">
            </div>
            <div class="col-1-2">
                <label for="NewEmail">Twój e-mail*:</label>
                <input id="NewEmail" value="" type="text">
            </div>
        </div>
        <div class="row">
            <div class="col-1-2">
                <label for="NewImie">Imię (min. 3 znaki nie będące cyframi)*:</label>
                <input id="NewImie" value="" type="text">
            </div>
            <div class="col-1-2">
                <label for="NewNazwisko">Nazwisko (min. 3 znaki nie będące cyframi)*:</label>
                <input id="NewNazwisko" value="" type="text">
            </div>
        </div>
        <div class="row">
            <div class="col-1-2">
                <label for="NewTel">Telefon kontaktowy: (same cyfry)*:</label>
                <input id="NewTel" value="" type="text">
            </div>
            <div class="col-1-2">
                <label for="NewEmail">Adres E-mail*:</label>
                <input id="NewEmail" value="" type="text">
            </div>
        </div>
        <div class="row">
            <div class="col-1-1">
                <input value="box1" name="color" type="checkbox" style="margin:0 0 15px 0"> *Regulamin<br />Zaświadczam, iż zapoznałem się z <span style="text-decoration:underline;color:blue">regulaminem</span> i akceptuję jego warunki.<br>
                <input value="box1" name="color" type="checkbox" style="margin:10px 0 15px 0"> *Przetwarzanie danych<br />Wyrażam zgodę na przetwarzanie moich danych osobowych w celu założenia konta Klienta i realizacje rezerwacji. Informujemy, że zgodnie z Ustawą z dnia 29.08.1997 r każdy Klient ma prawo do wglądu do swoich danych, ich poprawiania, żądania zaprzestania przetwarzania oraz ich usunięcia. Podanie danych jest dobrowolne, ale brak zgody uniemożliwia założenie konta i realizacje rezerwacji.<br>
            </div>
        </div>
        <div class="row">
            <div class="col-1-1">
                <button type="Submit" style="width:100%;height:40px;background-color:#428bca;border:none;color:white">Załóż konto</button>
            </div>
        </div>
    </div>
</form>
